<!DOCTYPE html>
<html>
  <head>
    <title><%= @movie %></title>
  </head>

  <body>
    <h1><%= @movie %></h1>

      <b>Year: </b><%=@info.first["year"]%><br><br>
      <b>Rating: </b><%=@info.first["rating"]%><br><br>
      <b>Genre: </b><%=@info.first["genre"]%><br><br>
      <b>Studio: </b><%=@info.first["studio"]%><br><br>
      <b>Cast:</b><br><br>
      <% @info.each do |item| %>
       <a href="/actors/<%= item["actor"] %>"><%= item["actor"] %></a>: <%= item["character"] %><br><br>
      <% end %>
    </ul>
  </body>
</html>
