<!DOCTYPE html>
<html>
  <head>
    <title><%= @info1.first["title"] %></title>
  </head>

  <body>
    <h1><%= @info1.first["title"] %></h1>

      <b>Year: </b><%=@info1.first["year"]%><br><br>
      <b>Rating: </b><%=@info1.first["rating"]%><br><br>
      <b>Genre: </b><%=@info1.first["genre"]%><br><br>
      <b>Studio: </b><%=@info1.first["studio"]%><br><br>
      <b>Cast:</b><br><br>
      <% @info1.each do |item| %>
       <a href="/actors/<%= item["actor_id"] %>"><%= item["actor"] %></a>: <%= item["character"] %><br><br>
      <% end %>
    </ul>
  </body>
</html>
